*{font-family: 'Noto Sans KR', sans-serif;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
.fleft{float:left;}
.fright{float:right;}
.hidden {overflow: hidden}

.br{}



.bold {font-weight: 600}
.bold2 {font-weight: 500}
.tct {text-align: center}
.tlt {text-align: left}
.trt {text-align: right}
.full {width: 100% !important;max-width: 100% !important}

/* 폰트 컬러 */
.white {color: #fff}
.yellow {color: #fef15c}

/*폰트 사이즈*/
.f30 {font-size: 30px}
.f24 {font-size: 24px}
.f20 {font-size: 20px}
.f18 {font-size: 18px}
.f15 {font-size: 15px}

/* 마진 */
.mt0 {margin-top: 0}
.mt40 {margin-top: 40px}
.mt50 {margin-top: 50px}
.mt60 {margin-top: 60px}
.mt70 {margin-top: 70px}
.mb0 {margin-bottom: 0 !important}
.gray_bg {background: #f5f5f5;padding: 50px 0}



#tm03 h2{font-size: 28px}

.container{position:relative;width:1080px;margin:0 auto;font-size:16px;}
.container.fluid{width:100%;}

#tm03 .header-wrap{background:url(../images/tm_03/bg_header.png) no-repeat center #0368da;text-align: center;position: relative;width: 100%;padding-top: 60px;}
#tm03 img {display: block;margin: auto;}
#tm03 .header-txt {background: #002f64;padding: 25px 20px;box-sizing: border-box}
#tm03 .contents {margin: 50px 0;position: relative;}

/*퀵메뉴*/
#tm03 .quick_menu {left:5%;position: absolute;}
#tm03 .quick_menu.fixed {position: fixed;top: 50px; z-index:100}
#tm03 .quick_menu  li {width: 120px;height: 35px;line-height: 35px; border-radius: 5px;background: #b2b2b2;margin-bottom: 10px;overflow: hidden}
#tm03 .quick_menu  li a{color: #fff;display: block;width: 100%;height: 100%;padding:0 10px ;}
#tm03 .quick_menu li.on {background: url(../images/tm_03/quick_arrow.png) no-repeat right 20px center #0368da}
#tm03 .quick_menu  li a:hover {background: url(../images/tm_03/quick_arrow.png) no-repeat right 20px center #0368da}
    
/* 테마3 공통 레이아웃 */    
#tm03 .tm03_cont{border-bottom: 1px dashed #ccc;margin-bottom: 30px;padding-bottom: 30px}
#tm03 .tm03_cont > div {float: left;}
#tm03 .tm03_cont .img_border{width: 500px;margin-right:40px;border: 1px solid #cacaca;border-radius: 10px;overflow: hidden;}
#tm03 .tm03_cont .cont_txt {width: calc(100% - 540px)}
#tm03 .tm03_cont h3{background: #000000;color: #fff;border-radius: 5px;padding: 8px 20px;display: inline-block;;font-size: 16px;text-align: center;margin-top: 0}
#tm03 .neon{position: relative;z-index: 1;box-shadow: inset 0 -10px 0 #fef15c}

#tm03 .pink_btn{background: #ff3469;color: #fff;border-radius: 5px;padding: 8px 70px;display: inline-block;;font-size: 16px;text-align: center;font-weight: 500}
#tm03  .pink_btn:after{content: '→';display: inline;margin-left: 15px}

/* 슬라이드 */
#tm03  .tm03_slider_wrap {}
#tm03 .section02 .btn_slider {display: none}
#tm03 .tm03_slider {width: 100%;position: relative;}
#tm03 .tm03_slider li {}
#tm03 .tm03_slider .tct {margin-bottom: 0}
#tm03 .tm03_slider .sl_img{border: 1px solid #cacaca;border-radius: 5px;overflow: hidden;}
#tm03 .tm03_slider .sl_img img{margin: 0;padding: 0;width: 100%;height: 100%;}
#tm03 .swiper-button-next,#tm03 .swiper-button-prev {width: 24px;height: 45px;color:transparent;background-size: 100%}
#tm03 .swiper-button-prev{background: url(../images/tm_03/prev.png) no-repeat center;left: -50px !important;}
#tm03 .swiper-button-next{background: url(../images/tm_03/next.png) no-repeat center;right: -50px !important;}
#tm03 .btn_slider.container {position: absolute;top: 30%;;height: 45px;}
#tm03 .tm03_slider a{display: block;width: 100%;height: 100%;z-index: 99999;}

#tm03 .section05 {background:url(../images/tm_03/section05_bg.png) center;padding: 50px 0;}
#tm03 .section05 .float_wrap {}
#tm03 .section05 .float_wrap > div {float: left;width: calc(50% - 10px)}
#tm03 .section05 .float_wrap > div:first-child {margin-right: 20px}
#tm03 .section05 .float_wrap > div img{float: left;width: 180px}
#tm03 .section05 .float_wrap > div .txt{float: left;padding-top: 20px;margin-left: 20px;width: calc(100% - 200px)}
#tm03 .section05 .blue_box {display: inline-block;background: #123a68;padding: 2px 3px ;border-radius: 5px;}
#tm03 .section05 p {margin: 0;}
#tm03 .section05 .link {margin-top: 50px;display: block;}


#tm03 .section06  {background: #aed4ff;padding: 50px 0}
.service-box{border:10px solid rgba(255,255,255,.4);border-radius:5px;margin-top:45px;}
.service_list{background:#fff;padding:50px 60px 0;}
    .service_list h3{font-size:22px;color:#2a2e38;margin:0 auto 45px;}
	.service_list h3 span{color:#4d4d4d;font-weight:400;}
	.service_list ul{display:flex;flex-wrap:wrap;}
	.service_list ul li{flex:1 1 30%;margin-bottom:60px;cursor:pointer;}
	.service_list ul li > div{position:relative;width:250px;height:100%;margin:0 auto;padding-bottom:46px;text-align:left;font-size:15px;font-weight:300;color:#777;letter-spacing:-.5px;}
	.service_list ul li .thumb{border-radius:5px;line-height:0;overflow:hidden;}
	.service_list ul li h4{color:#606060;font-size:18px;margin:25px 0 15px;}
	.service_list ul li .goto{position:absolute;bottom:0;}

    

@media screen and (min-width: 1080px) and (max-width:1600px) {
    #tm03 .quick_menu {left: 20px}
    .container {padding-left: 180px;padding-right: 50px}
    #tm03 .tm03_cont {height: 340px}
    #tm03 .tm03_cont .img_border {width: 400px;}
    #tm03 .section02 .tm03_cont{height: 360px}
    #tm03 .tm03_cont .cont_txt {width: calc(100% - 440px)}
    #tm03 .tm03_cont h3 {margin-bottom: 0}
    #tm03 .tm03_cont .cont_txt .mt40 {margin-top: 10px} 
    #tm03 .tm03_cont {position: relative;}
    
    #tm03 .tm03_cont .f18.bold {position: absolute;width: 100%;left: 0;bottom: 20px;margin-top: 0;margin-bottom: 0;text-align: center;}
}
	
@media screen and (min-width : 1080px) {
    .container {max-width: 100%;}
   
    
}

@media screen and (max-width : 1080px){
.container{width:calc(100% - 90px);letter-spacing:-.5px;font-size:15px;}
	.header-wrap{background-size:240%;}
    #tm03 .quick_menu {display: none}
    
#tm03 .section02 .btn_slider {display: block} 
    #tm03 .tm03_slider_wrap {max-width: 90% important;width: 90% !important }    
#tm03 .tm03_cont .mt40 {margin-top: 20px}
#tm03 .tm03_cont .mt70 {margin-top: 40px}
    #tm03 .tm03_cont {position: relative;padding-bottom: 60px}
    #tm03 .section02 .tm03_cont{padding-bottom: 95px;}
    #tm03 .tm03_cont .img_border {width: 400px;margin-right: 20px;}
    #tm03 .tm03_cont .cont_txt {width: calc(100% - 420px)}
    #tm03 .tm03_cont .cont_txt  .bold {margin-bottom: 20px}
    #tm03 .tm03_cont .f18.bold {position: absolute;width: 100%;left: 0;bottom: 20px;margin-top: 0;margin-bottom: 0;text-align: center;}
    #tm03 .tm03_cont h3 {margin-bottom: 0}
    
    #tm03 .swiper-button-next {right: -130px !important}
    #tm03 .swiper-button-next,#tm03 .swiper-button-prev {width: 20px;height: 45px;color:transparent;background-size: 20px}
    
    
    #tm03 .quick_menu.fixed {display: none}
    
    #tm03 .tm03_slider_wrap {max-width: 1080px;width: 90%;margin: auto}
    
    #tm03 .section05 .float_wrap {}
    #tm03 .section05 .blue_box {white-space: nowrap;margin: 5px 0;}
    #tm03 .section05 .float_wrap > div img {float: none;}
    #tm03 .section05 .float_wrap > div .txt {width: 100%;text-align: center;margin-left: 0}
    
}

@media screen and (max-width : 768px){
    /*폰트 사이즈*/
.f30 {font-size: 26px}
.f24 {font-size: 20px}
.f22 {font-size: 19px}
.f20 {font-size: 18px}
.f18 {font-size: 16px}
.f15 {font-size: 13px}
    
    #tm03 .section06 ,.gray_bg {padding: 30px 0}
    #tm03 .contents {margin: 30px 0}
        
.mt50 {margin-top: 30px}
    
#tm03 h2 {font-size: 24px}    
    
#tm03 .header-wrap img {width: 90%;max-width: 700px; }
    
#tm03 .tm03_slider_wrap .mt50 {margin-top: 30px}   
    #tm03 .tm03_cont ,#tm03 .section02 .tm03_cont {padding-bottom: 30px}
    #tm03 .tm03_cont .img_border {float: none;max-width: 400px;width: 100%;margin-right: 0}
    #tm03 .tm03_cont .cont_txt {width: 100%;margin-top: 20px;}
    #tm03 .tm03_cont .f18.bold {position: static;text-align: left}
    #tm03 .swiper-button-next,#tm03 .swiper-button-prev {width: 15px;height: 25px;color:transparent;background-size: 15px}
    #tm03 .btn_slider.container {height: auto;top: 44%;}
    
   #tm03 .section05 .float_wrap > div img { }    
    .service_list ul li{flex:1 1 50%;margin-bottom:40px;}
    #tm03 .tm03_slider_wrap {width: 95%}
    #tm03 .swiper-button-next {right: -114px !important}
    #tm03 .swiper-button-prev {left: -32px !important}
    
    
    .service_list ul li > div {width: calc(100% - 10px)}

}

@media screen and (max-width : 642px){
    /*폰트 사이즈*/
.f30 {font-size: 24px}
.f22 {font-size: 18px}
.f24 {font-size: 20px}
.f20 {font-size: 16px}
.f18 {font-size: 15px}
.f15 {font-size: 13px}
    
    
 #tm03 h2 {font-size: 20px}    
    
.container{width:calc(100% - 40px);margin: auto}
     #tm03 .tm03_cont .img_border {float: none;max-width: 100%;width: 100%;margin-right: 0}
    #tm03 .btn_slider.container {height: auto;top: 50%;transform: translateY(-50%)}
    
    #tm03 .pink_btn {width: 100%;padding: 8px 0}
    #tm03 .section05 .float_wrap > div {float: none;width: 100%;}
    #tm03 .section05 .link {margin-top: 20px}
    #tm03 .section05 .float_wrap > div:first-child {margin-right: 0;margin-bottom: 30px;}
    #tm03 .section05 .float_wrap > div img {width: 130px}
    #tm03 .section05 .float_wrap > div .txt {padding-top: 10px}
    #tm03 .tm03_cont .img_border img {width: 100%;height: 100%}
    #tm03 .swiper-button-next {right: -70px !important}
.service_list{padding:40px 30px 0;}
	.service_list h3{margin:0 auto 30px;}
	.service_list h3 span{display:block;}
	.service_list ul li{flex:1 1 100%;margin-bottom:40px;}
	.service_list ul li > div{width:100%;max-width:250px;padding-bottom:35px;}
	.service_list ul li h4{margin:15px 0 10px;}
    
    #tm03 .tm03_slider_wrap .mt50 {margin-top: 15px}
    

}