#tm09{font-family:'S-CoreDream-4Regular', 'Noto Sans KR', sans-serif;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;color: #333;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
.fleft{float:left;}
.fright{float:right;}
.hidden {overflow: hidden}
p {word-break: keep-all}
.br{}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.sbold01{font-family: 'S-CoreDream-5Medium' !important;}

.bold {font-weight: 600}
.bold2 {font-weight: 500}
.tct {text-align: center}
.tlt {text-align: left}
.trt {text-align: right}
.full {width: 100% !important;max-width: 100% !important}
.lh01{line-height: 1.2}

/* 폰트 컬러 */
.white {color: #fff}
.red {color: #e95655}
.red02 {color: #ff0000 !important}
.dark_gray {color: #666}
.yellow {color: #efff3e}
.yellow02 {color: #ffb400}
.pink {color: #ff4f7d}
.blue {color: #1332a2}
.blue02 {color: #1552bf}
.white_bg {background: #fff;display: inline;padding: 2px 5px;}
.bold {font-weight: bolder;}
.highlight{box-shadow: inset 0 -10px 0 #ff0157;padding:0  5px;font-weight: bold}


* {margin: 0;padding: 0}

/*폰트 사이즈*/
.f30 {font-size: 30px}
.f60 {font-size: 60px}
.f45 {font-size: 45px}
.f40 {font-size: 40px}
.f24 {font-size: 24px}
.f22 {font-size: 22px}
.f20 {font-size: 20px}
.f18 {font-size: 18px}
.f16 {font-size: 16px}
.f15 {font-size: 15px}

/* 마진 */
.mt0 {margin-top: 0}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt20 {margin-top: 20px}
.mt30 {margin-top: 30px}
.mt40 {margin-top: 40px}
.mt50 {margin-top: 50px}
.mt60 {margin-top: 60px}
.mt70 {margin-top: 70px}
.mb40 {margin-bottom: 40px;}
.mb0 {margin-bottom: 0 !important}
.mb10 {margin-bottom: 10px}
.mb20 {margin-bottom: 20px}
.mb30 {margin-bottom: 30px}
.gray_bg {background: #f5f5f5;padding: 50px 0}
.gray_line {border-top: 1px dashed #f0f0f0;margin: 40px 0}
#tm06 .white_round {background: #fff;border-radius: 20px;padding: 30px 40px}
.tct {text-align: center;}
.white_box{background: #fff;border-radius: 10px;padding: 20px;}

.container{width:1260px;margin:0 auto;font-size:16px;}
.container.fluid{width:100%;}
.section {}
.bar_list li{position: relative;padding-left: 15px;}
.bar_list li:before{content: '-';position: absolute;left: 0;top: 5px}
.section02 {margin: 50px auto}
.bd_white_box{border: 10px solid rgba(255, 255, 255, 0.26);border-radius: 10px;}
.bd_white_box > div {background: #fff;border-radius: 00px;padding: 50px;}
/* 공통 */
#tm09 {}
#tm09 .section{padding: 100px 0;}

.tm09_section01{background: url(../images/tm_09/tm_section01_bg.png) no-repeat top;background-size: cover;padding-top: 100px}
.tm09_section01 .box{position: relative;z-index: 5;padding-top: 50px;}
.tm09_section01 .box:before{content: '';width: 90%;height: 645px;display: block;position: absolute;z-index: -1;border: 10px solid #fff;left: 50%;top: 0;transform: translate(-50%,-0)}
.tm09_section01 .box:after{content: '';display: block;background: url(../images/tm_09/tm_section01_img.png) no-repeat center;width: 724px;height: 640px;background-size: 724px;margin: auto;}
.tm09_section01 .box h2{color: #1a58c2;text-align: center;font-size: 65px;}
.tm09_section01 .box h2 span{color: #000;}
.tm09_section01 .box p{font-size: 40px;text-align: center;color: #454545}

.tm09_section02 {background: url(../images/tm_09/tm_section02_bg.png) no-repeat top #1db1cc;padding-top: 100px;padding-bottom: 250px}
.tm09_section02 .tit{color: #fff;position: relative;padding-left: 50px;}
.tm09_section02 .tit:after{content: '';display: block;width: 200px;height: 3px;background: #fff;margin: 50px auto;}
.tm09_section02 .tit h2 {text-align: right;font-size: 40px;position: absolute;left: 90px;bottom: 120px}
.tm09_section02 .tit h2  span{display: inline-block;padding: 0 5px;}
.tm09_section02 .tit h2 .orange_bg{background: #ff7139;}
.tm09_section02 .tit h2 .pink_bg{background: #d339ff;}
.tm09_section02 .tit > span{background: url(../images/tm_09/tm_section02_img01.png) no-repeat;width: 594px;height: 484px;display: block;margin:auto}

.tm09_section02 .bd_white_box .bg{padding-bottom: 700px;position: relative;}
.tm09_section02 .bd_white_box img{display: block;position: absolute;bottom: -200px;left: 50%;transform: translateX(-50%)}
.tm09_section02 .meaning{text-align: center;}
.tm09_section02 .meaning h4{font-size: 40px;color: #fff;background: #1552bf;display: inline-block;padding: 2px 20px;border-radius: 15px;}
.tm09_section02 .meaning p {background: url(../images/tm_09/tm_section02_img02.png) center no-repeat;line-height: 1.8;padding: 20px;background-size: contain}


.tm09_section03 {background: url(../images/tm_09/tm_section03_bg.png) no-repeat;position: relative;}
.tm09_section03:after{content: '';display: block;background: url(../images/tm_09/tm_section03_img01.png) no-repeat;width: 674px;height: 404px;position: absolute;right: 0;bottom: 100px}
 h3.line_tit{color: #0f3b95;text-align: center;font-size: 40px;position: relative;width: 700px;margin: auto;}
h3.line_tit:before{content: '';display: block;width: 150px;height: 3px;background: #0f3b95;position: absolute;left: 0;top: 50%;}
h3.line_tit:after{content: '';display: block;width: 150px;height: 3px;background: #0f3b95;position: absolute;right: 0;top: 50%;}
.tm09_section03 .note{width: 949px;margin: 40px auto;padding: 50px 130px;background: #fff;border-radius: 20px;position: relative;padding-bottom: 200px}
.tm09_section03 .note:before{content: '';display: block;background: url(../images/tm_09/note_bg.png);width: 40px;height:calc(100% - 100px);position: absolute;left: 40px;top: 0}
.tm09_section03 .note strong{display: block;color: #fff;background: #0f3b95;text-align: center;font-size: 40px;padding: 5px}
.tm09_section03 .note p {color: #0f3b95;font-weight: bold}
.tm09_section03 .note ol{margin-top: 50px;}
.tm09_section03 .note ol li {margin-bottom: 45px;position: relative;padding-left: 50px}
.tm09_section03 .note ol li:last-child{margin-bottom: 0}
.tm09_section03 .note ol li:before{content: '';display: block;background: url(../images/tm_09/tm_section03_check.png) no-repeat;width: 40px;height: 41px;position: absolute;left: 0;top: -6px;}

.tm09_section04{position: relative;padding-top: 400px;padding-bottom: 100px;width: 949px;margin: auto}
.tm09_section04:before{content: '';display: block;background: url(../images/tm_09/tm_section04_img.png) no-repeat;width: 700px;height: 618px;position: absolute;top: -100px;left: 50%;transform: translateX(-50%)}
.tm09_section04 .tm09_slider{}
.tm09_section04 .item{width:536px;margin: 60px auto; }
.tm09_section04 .item .tit{background: #1a1212;font-size: 30px;text-align: center;color: #fff;padding: 10px;}
.tm09_section04 .txt {text-align: center;margin-top: 20px}
.tm09_section04 .item img{border: 1px solid #dcdcdc;display: block;}
.tm09_section04 .slick-arrow{width: 31px;height: 49px;text-indent: -9999px;border: 0;position: absolute;top: 50%;transform: translateY(-50%);cursor: pointer;}
.tm09_section04 .slick-prev{background: url(../images/tm_09/slider_prev.png) no-repeat;left: 0}
.tm09_section04 .slick-next{background: url(../images/tm_09/slider_next.png) no-repeat;right: 0}

.tm09_section04 .tel{border: 1px solid #53b5da;box-shadow: 5px 5px 0 0 #53b5da;text-align: center;margin-top: 60px;padding: 40px;border-radius: 10px}
.tm09_section04 .tel p {font-weight: bold;color: #ff6600;font-size: 25px;margin-bottom: 20px;}
.tm09_section04 .tel a {color: #2a9500;font-size: 40px;font-weight: bold;display: inline-block;}
.tm09_section04 .tel a:before{content: '';display: inline-block;background: url(../images/tm_09/tel_ico.png) no-repeat;width: 36px;height: 36px;vertical-align: middle;margin-right: 5px;}

.tm09_section05{background: #f4f4f4;}
.tm09_section05 h3{color: #1552bf}
.tm09_section05 h3:before{width: 70px}
.tm09_section05 h3:after{width: 70px}
.tm09_section05 .container{width: 949px;margin: auto;}
.tm09_section05 .tabs{margin-top: 60px;display: flex;justify-content: center;padding-bottom: 30px}
.tm09_section05 .tabs li{font-size: 30px;color: #a9a8a8;font-weight: bold;width: 33%;text-align: center;}
.tm09_section05 .tabs li:nth-child(1),
.tm09_section05 .tabs li:nth-child(2){letter-spacing: 10px;}
.tm09_section05 .tabs li.active{color: #484242;position: relative;}
.tm09_section05 .tabs li.active:after{position: absolute;;content: '';display: block;width: 100px;height: 3px;background: #484242;bottom: -15px;left: 50%;transform: translateX(-50%)}
.tm09_section05 .tab_content{background: #fff;padding: 40px;border-radius: 15px;margin-top: 30px}
.tm09_section05 .tab_content > div{display: flex;justify-content: space-between;margin-bottom: 30px;}
.tm09_section05 .tab_content > div:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: 0}
.tm09_section05 .tab_content .img{border: 1px solid #dcdcdc;border-radius: 10px;overflow: hidden;display: block;width: 339px;}
.tm09_section05 .tab_content .img img{display: block;}
.tm09_section05 .desc{color: #777;margin-top: 10px}
.tm09_section05 .tab_content .txt{width: calc(100% - 360px);display: flex;flex-direction: column;border-bottom: 1px solid #dcdcdc;padding-bottom: 20px}
.tm09_section05 .tab_content .txt a{margin-top: auto;text-align: right;font-size: 22px;color: #777777;background: url(../images/tm_09/tm09_arrow.png) no-repeat right center;padding-right: 25px}
.tm09_section05 .tab_content .txt a:hover,
.tm09_section05 .tab_content .txt a:active,
.tm09_section05 .tab_content .txt a:focus{text-decoration: underline}

@media screen and (max-width : 1900px){
	.tm09_section03:after{display: none}
	.tm09_section03 .note{padding: 50px 130px}
}

@media screen and (max-width : 1260px){
    
.container{width:calc(100% - 40px);margin: auto;}
    .section {padding: 70px 0}
    /*폰트 사이즈*/
    .f30 {font-size: 26px}
    .f60 {font-size: 50px}
    .f45 {font-size: 35px}
    .f40 {font-size: 30px}
    .f24 {font-size: 20px}
    .f22 {font-size: 20px}
    .f20 {font-size: 18px}
    .f18 {font-size: 16px}
    .f16 {font-size: 14px}
    .f15 {font-size: 14px}
	
	.tm09_section02 .tit h2{font-size: 30px;left: 60px}

}

@media screen and (max-width :1024px){
	
	.tm09_section01 .box h2{font-size: 45px}
	.tm09_section01 .box p{font-size: 25px}
	.tm09_section01 .box:after{background-size: 500px;height: 400px;width: 500px}
	.tm09_section01 .box:before{height: 450px}
	
	.tm09_section02 .tit{display: flex;flex-direction: column;padding-left: 0}
	.tm09_section02 .tit h2{position:static;text-align: center;}
	.tm09_section02 .tit > span{background-size: 350px;width: 350px;height: 270px;margin-bottom: 20px}
	
	.tm09_section02 .meaning h4{font-size: 30px;}
	.tm09_section02 .bd_white_box img{width: 600px;bottom: -145px}
	.tm09_section02 .bd_white_box .bg{padding-bottom: 500px}
	
	.tm09_section03 .note{width: calc(100% - 40px)}
	
	.tm09_section04:before{background-size: 600px;width: 600px;height: 505px;top: -100px}
	.tm09_section04{width: calc(100% - 40px)}
	
	
	.tm09_section05 .container{width: calc(100% - 40px)}
	.tm09_section05 h3:before{width: 70px !important}
	.tm09_section05 h3:after{width: 70px !important}
	.tm09_section05 .tabs li{font-size: 22px}
	
	.tm09_section05 .tab_content .img{width: 300px}
	.tm09_section05 .tab_content .txt{width: calc(100% - 330px)}
	.tm09_section05 .tab_content .txt a{font-size: 18px}

}
	

@media screen and (max-width : 768px){
    /*폰트 사이즈*/
    .f30 {font-size: 22px}
    .f60 {font-size: 30px}
    .f45 {font-size: 28px}
    .f40 {font-size: 25px}
    .f24 {font-size: 18px}
    .f22 {font-size: 18px}
    .f20 {font-size: 16px}
    .f18 {font-size: 14px}
    .f16 {font-size: 13px}
    .f15 {font-size: 13px}
	.mt60 {margin-top: 30px}
		
	.tm09_section02 {padding-bottom: 150px}
	.tm09_section02 .meaning h4{font-size: 26px;}
	.bd_white_box > div{padding: 30px}
	.tm09_section02 .bd_white_box  p br{display: none}
	.tm09_section02 .bd_white_box p {word-break: keep-all}
	.tm09_section02 .bd_white_box img{width: 450px;bottom: -105px}
	.tm09_section02 .bd_white_box .bg{padding-bottom: 350px}
	
	h3.line_tit{width:calc(100% - 40px);}
	h3.line_tit:before{width: 120px}
	h3.line_tit:after{width: 120px}
	.tm09_section03 .note{padding: 50px 50px 50px 100px}
	.tm09_section03 .note:before{left: 20px;background-size: 30px;width: 30px;}
	.tm09_section03 .note strong{font-size: 30px}
	.tm09_section03 .note ol li:before{background-size: 30px;width: 30px;height: 31px;top: 0}
	.tm09_section03 .note ol li{padding-left: 40px}
	
	.tm09_section05 {padding-bottom: 50px}
	.tm09_section04:before{width: 500px;background-size: 500px;height: 450px;top: -50px}
	.tm09_section04 .item .tit{font-size: 22px;}
	.tm09_section04 .tm09_slider{width: calc(100% - 100px);margin: auto;}
	.tm09_section04 .slick-next{right: -50px}
	.tm09_section04 .slick-prev{left: -50px}
	.tm09_section04 .slick-arrow{background-size: 20px;width: 20px;height: 32px}
	.tm09_section04 .item{margin: 30px auto}
	.tm09_section04 .item{width: 100%}
	.tm09_section04 .item .tit{font-size: 16px}
	
	.tm09_section04 .tel{padding: 30px;}
	.tm09_section04 .tel p{font-size: 20px}
	.tm09_section04 .tel a{font-size: 30px}
	
	
	.tm09_section05 h3:before{width: 70px !important}
	.tm09_section05 h3:after{width: 70px !important}
	.tm09_section05 .tabs li{font-size: 22px}
	
	.tm09_section05 .tab_content .img{width: 300px}
	.tm09_section05 .tab_content > div{flex-direction: column;align-items: center;}
	.tm09_section05 .tab_content .txt{width:100%;text-align: center;margin: 15px;border-bottom: 0;padding-bottom: 0}
	.tm09_section05 .tab_content .txt a{font-size: 16px;text-align: center;width: 120px;margin:  auto;margin-top: 20px;padding-right: 25px;background-size: 10px}

	
}


@media screen and (max-width : 640px){
	.tm09_section01{padding-top: 50px}
	.tm09_section01 .box h2{font-size: 30px}
	.tm09_section01 .box p{font-size: 20px}
	.tm09_section01 .box:after{background-size: 300px;height: 250px;width: 300px}
	.tm09_section01 .box{padding: 30px 20px 0 20px;word-break: keep-all}
	.tm09_section01 .box:before{height: 300px;width: calc(100% - 40px)}
	
	.tm09_section02{padding-top: 50px;}
	.tm09_section02 .tit > span{background-size: 250px;width: 250px;height: 195px;margin-bottom: 20px}
	.tm09_section02 .tit h2{font-size: 22px;}
	.tm09_section02 .tit:after{margin: 30px auto;width: 100px}
	
	h3.line_tit:before{width: 100px}
	h3.line_tit:after{width: 100px}
	h3.line_tit{font-size: 26px}
	.tm09_section03 .note{padding:30px}
	.tm09_section03 .note p{word-break: keep-all}
	.tm09_section03 .note p br{display: none}
	.tm09_section03 .note:before{display: none}
	.tm09_section03 .note strong{font-size: 22px}
	.tm09_section03 .note ol{margin-top: 20px}
	.tm09_section03 .note ol li:before{background-size: 20px;width: 20px;height: 21px;top: 0}
	.tm09_section03 .note ol li{padding-left: 30px;margin-bottom: 20px}
	#tm09 .section{padding: 50px 0}
	
	.tm09_section04{padding-top: 170px;padding-bottom: 50px}
	.tm09_section04:before{background-size: 300px;width: 300px;height: 250px}
	.tm09_section04 .slick-arrow{display: none !important}
	.tm09_section04 .tm09_slider{width: 100%}   
	
	.tm09_section04 .tel{margin-top: 30px;display: block;}
	.tm09_section04 .tel p {font-size: 16px}
	.tm09_section04 .tel a{font-size: 22px}
	.tm09_section04 .tel a:before{background-size: 25px;width: 25px;height: 25px;}
	.tm09_section05 .tabs{margin-top: 40px}
	.tm09_section05 .tabs{display: table}
	.tm09_section05 .tabs li{font-size: 16px;word-break: keep-all;display: table-cell;vertical-align: middle}
}


@media screen and (max-width : 480px){
      /*폰트 사이즈*/
    .f30 {font-size: 16px}
    .f60 {font-size: 26px}
    .f45 {font-size: 22px}
    .f40 {font-size: 20px}
    .f24 {font-size: 16px}
    .f22 {font-size: 15px}
    .f20 {font-size: 15px}
    .f18 {font-size: 14px}
    .f16 {font-size: 13px}
    .f15 {font-size: 13px}
	
	.tm09_section01 .box h2{font-size: 26px;}
	.tm09_section01 .box p{font-size: 16px}
	.tm09_section01 .box:after{background-size: 250px;height: 200px;width: 250px}
	.tm09_section01 .box:before{height: 250px;}
	
	.tm09_section02 {padding-bottom: 100px}
	.tm09_section02 .meaning h4{font-size: 22px;}
	.bd_white_box > div{padding: 20px}
	.tm09_section02 .meaning p {word-break: keep-all}
	.tm09_section02 .bd_white_box img{width: 300px;bottom: -70px}
	.tm09_section02 .bd_white_box .bg{padding-bottom: 250px}
	.tm09_section02 .tit h2{font-size: 18px;}
	h3.line_tit{font-size: 22px }
	.tm09_section03 .note{margin:20px auto}
	h3.line_tit:before{display: none}
	h3.line_tit:after{display: none}
	.tm09_section03 .note strong{font-size: 18px}
	.tm09_section03 .note{padding: 20px}
	.tm09_section03 .note ol li{font-size: 14px !important;word-break: keep-all}

	
   
}