*{font-family: 'Noto Sans KR', sans-serif;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;}
img{max-width:100%;line-height:0;}
a{text-decoration:none;color:inherit;}

.fleft{float:left;}
.fright{float:right;}
.scroll_lock{overflow:hidden;}

:root{
    /* Color */
    --wbl-color-main:#0051a4;
    --wbl-color-sub-main:#aa8223;
    --wbl-color-light-gray:#eee;
    --wbl-color-light-gray-lighten1:#e4e4e4;
    --wbl-color-light-gray-lighten2:#fafafa;
    --wbl-color-dark-gray:#666;
    --wbl-color-dark-gray-darken:#333;
    --wbl-color-dark-gray-lignten1:#ababab;
    --wbl-color-dark-gray-lignten2:#b4b4b4;
    --wbl-color-white:#fff;
    --wbl-color-black:#000;
    --wbl-color-red:#ff3a00;
    --wbl-color-orange:#ff9454;
    /* Font Size */
    --wbl-font-sz-default:16px;
    --wbl-font-sz-ms1:14px;
    --wbl-font-sz-ms2:12px;
    --wbl-font-sz-ms3:11px;
    --wbl-font-sz-ps1:18px;
    --wbl-font-sz-ps2:24px;
    --wbl-font-sz-ps3:26px;
    --wbl-font-sz-ps4:30px;
}

.container{position:relative;width:1260px;margin:0 auto;font-size:var(--wbl-font-sz-default);}
.container.fluid{width:100%;}
.skip_navi{position:fixed;left:0;top:0;z-index:9999;}
    .skip_navi a{display:block;text-align:center;background:var(--wbl-color-main);color:var(--wbl-color-white);height:0;font-size:0;}
    .skip_navi a:focus, .skip_navi a:active{height:auto;padding:10px;font-size:var(--wbl-font-sz-default);}

#header{position:relative;z-index:3000;}
#header_wrap{
    position:relative;margin-top:166px;background:var(--wbl-color-white);
    border-style:solid none;border-width:1px 0 2px;border-color:var(--wbl-color-light-gray) transparent var(--wbl-color-black);
}
    #header_wrap h1{position:absolute;left:0;bottom:89px;padding:0;margin:0;}
#gnb_wrap{line-height:0;}
    #gnb_wrap .hb_menu{display:inline-block;cursor:pointer;background:var(--wbl-color-main);padding:20px;}
    #gnb_wrap .hb_menu .bar1, #gnb_wrap .hb_menu .bar2, #gnb_wrap .hb_menu .bar3{width:20px;height:2px;background-color:var(--wbl-color-white);margin:4px 0;transition:0.4s;}
	#gnb_wrap .change .bar1{-webkit-transform:rotate(-45deg) translate(-4px, 4px);transform:rotate(-45deg) translate(-4px, 4px);}
	#gnb_wrap .change .bar2{opacity:0;}
	#gnb_wrap .change .bar3{-webkit-transform:rotate(45deg) translate(-4px, -4px);transform:rotate(45deg) translate(-4px, -4px);}
#gnb{display:inline-block;line-height:1.6;margin-left:15px;}
    #gnb li{float:left;margin:12px 20px;}
    #gnb li a{display:block;padding:6px 3px 7px;}
    #gnb li a.on, #gnb li a:hover{color:var(--wbl-color-main);box-shadow:inset 0 -2px 0 var(--wbl-color-main);}
.search_wrap{position:absolute;left:214px;bottom:90px;display:flex;border:2px solid var(--wbl-color-main);border-radius:30px;}
    .search_wrap input[type='text']{border:none;background:transparent;padding:18px 28px;width:500px;}
    .search_wrap input[type='text']::placeholder{font-size:var(--wbl-font-sz-default);}
    .search_wrap input[type='submit']{border:none;background:url(../images/bg_btn_search.png) no-repeat 50% 50%;width:70px;text-indent:-999999px;}
#tnb{position:absolute;right:0;bottom:177px;font-size:var(--wbl-font-sz-ms2);color:var(--wbl-color-dark-gray);}
    #tnb li{float:left;}
    #tnb li + li:before{content:"\b7\a0";display:inline-block;text-align:center;padding:0 7px;}
#mnb{position:absolute;right:0;bottom:83px;}
    #mnb li{float:left;}
    #mnb li + li{margin-left:35px;}
    #mnb a{display:block;text-align:center;}
    #mnb i{position:relative;display:block;width:38px;height:38px;margin:0 auto 10px;background-image:url(../images/ico_mnb.png);background-repeat:no-repeat;}
    #mnb li:nth-child(1) i{background-position-y:0;}
    #mnb li:nth-child(2) i{background-position-y:-38px;}
    #mnb li:nth-child(3) i{background-position-y:-76px;}
    #mnb i > div{
        position:absolute;display:inline-block;background:var(--wbl-color-red);color:var(--wbl-color-white);font-size:var(--wbl-font-sz-ms3);
        text-align:center;padding:3px 5px;border-radius:15px;min-width:24px;font-style:normal;top:-7px;right:-9px;
    }
#pop_tag{position:absolute;right:0;bottom:20px;}
    #pop_tag li{float:left;}
    #pop_tag li + li{margin-left:18px;}
    #pop_tag a{font-size:var(--wbl-font-sz-ms1);}
    #pop_tag a:before{content:"#";}
.mega_wrap{position:absolute;width:100%;height:100vh;display:none;}
    .mega_wrap.on{display:block;}
    .mega_wrap .shadow{position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.5);}
    .mega_wrap .mega_menu{position:relative;background:var(--wbl-color-white);padding:30px 0;}
    .menu_wrap{float:left;}
    .menu_wrap > li{float:left;}
    .menu_wrap > li + li{margin-left:60px;}
    .menu_wrap .tit{color:var(--wbl-color-main);font-size:var(--wbl-font-sz-ps1);margin-bottom:10px;}
    .menu_wrap ul li{font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);margin:5px 0;}
    .mega_wrap .bnr_mega{float:right;width:280px;height:210px;background:var(--wbl-color-light-gray);border-radius:10px;overflow:hidden;}
    
#header_wrap.fixed{position:fixed;width:100%;margin:0;}
    #header_wrap.fixed .container{width:100%;}
    #header_wrap.fixed h1{left:72px;bottom:5px;}
    #header_wrap.fixed h1 img{height:36px;}
    #header_wrap.fixed #gnb{margin-left:150px;}
    #header_wrap.fixed .search_wrap{left:auto;right:20px;bottom:11px;}
    #header_wrap.fixed .search_wrap input[type='text']{padding:8px 18px;width:186px;font-size:var(--wbl-font-sz-ms1);}
    #header_wrap.fixed .search_wrap input[type='submit']{width:42px;}
    #header_wrap.fixed #tnb{right:270px;bottom:22px;}
    #header_wrap.fixed #mnb, #header_wrap.fixed #pop_tag{display:none;}
    #header_wrap.fixed ~ .mega_wrap{position:fixed;top:65px;}

#footer{position:relative;}
    #footer #fnb_wrap{background:var(--wbl-color-light-gray-lighten2);border-bottom:1px solid var(--wbl-color-light-gray-lighten1);padding:20px 0;}
    #footer #fnb_wrap #fnb{float:left;}
    #footer #fnb_wrap #fnb li{float:left;font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);}
    #footer #fnb_wrap #fnb li +li:before{content:"|";padding:0 15px;color:var(--wbl-color-dark-gray-lignten1);}
    #footer #fnb_wrap #fnb li.private{color:var(--wbl-color-red);font-weight:500;}
    #footer .family_site{
        float:right;border:none;background:transparent;font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);padding-right:25px;
        background:url(../images/bg_select.png) no-repeat 100% 50%;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    #footer .copy_wrap{margin:40px auto 50px;}
    #footer .copy_wrap .copy{float:left;}
    #footer .copy_wrap .copy .cscenter{margin-bottom:20px;}
    #footer .copy_wrap .work_time{float:left;font-size:var(--wbl-font-sz-ms1);margin-right:95px;}
    #footer .copy_wrap .work_time span{color:var(--wbl-color-dark-gray);}
    #footer .copy_wrap .address{float:left;font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);}
    #footer .copy_wrap .address span{font-size:var(--wbl-font-sz-ms2);}
    #footer .copy_wrap .catchphrase{float:right;}

#content{padding:50px 0;}
    #content h2{font-size:var(--wbl-font-sz-ps2);font-weight:400;margin:0 0 30px;}